!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'X-UA-Compatible', content: 'IE=edge'}
    %title Mendaftar ke Bukube
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/default.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}
  %body.register-page
    %header
      %nav.navbar.navbar-light.navbar-expand-lg.fixed-top
        .container
          %a.navbar-brand{href: '/'} Bukube
          %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNav', 'aria-controls': 'navbarNav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
            %span.fa.fa-bars
          .collapse.navbar-collapse#navbarNav
            %ul.navbar-nav.mr-auto
              %li.nav-item
                %a.nav-link{href: '/'} Beranda
              %li.nav-item
                %a.nav-link{href: '/'} Beli Buku
              %li.nav-item
                %a.nav-link{href: '/'} Jual Buku
            %ul.navbar-nav.ml-auto
              %li.nav-item
                %a.nav-link{href: '/carts.html'}
                  %i.fa.fa-shopping-cart
              %li.nav-item
                %a.nav-link.active{href: '/register.html'}
                  Registrasi
                  %span.sr-only (saat ini)
              %li.nav-item
                %a.nav-link{href: '/login.html'} Masuk
    %main
      .container
        %form{name: 'register'}
          %h1
            %a{href: '/'} Bukube
          %span.unique-underline{style: 'width: 75%'}
          %input{type: 'text', name: 'email', placeholder: 'Alamat Email'}
          %input{type: 'text', name: 'username', placeholder: 'Nama Pengguna'}
          %input{type: 'text', name: 'fullname', placeholder: 'Nama Lengkap'}
          %input{type: 'password', name: 'password', placeholder: 'Kata Sandi'}
          %input{type: 'submit', value: 'Mendaftar'}
        .alert.alert-light
      .carts
        %h3 Keranjang Belanja
        %span Tidak ada buku di keranjang belanja.
    %footer
      .container
        .row
          .col-md-4
            Hak cipta &copy; 2018,
            %a{href: '/'} Bukube.
          .col-md-8
            .list
              %a{href: '/'} Tentang Kami
              %a{href: '/'} Kebijakan Privasi
              %a{href: '/'} Aturan Penggunaan
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'}
    %script{src: '/js/application.js'}
